extends ./layouts/index

block slider
  .slider
    h1 Rio de Janeiro
    em Aventura

block contenido
  main.container.mt-5
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5
      .col-md-6
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde tenetur, facilis cupiditate laborum soluta ut accusamus quasi dolorem ea nostrum, mollitia, neque adipisci? Voluptates, excepturi delectus. Similique eveniet reprehenderit adipisci hic quod amet fuga quibusdam asperiores optio. Laudantium sunt inventore veritatis ut quas, laboriosam eveniet blanditiis, enim, error vel adipisci.
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus mollitia labore ea, soluta optio eligendi nihil? Placeat repellat, ad vitae minima recusandae illum mollitia dolores quisquam laboriosam obcaecati culpa ex?
      .col-md-6
        img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" class="img-fluid")
    
    include ./layouts/bloque_viajes.pug
  
  .descuento
    .container
      .row
        .col-md--6
          .contenido
            h3 5% de Descuento 
            p.titulo Viaje a Canada 
            p.fecha 20 de Marzo de 2023 - 28 de Marzo de 2022
            p.precio $2,500 USD
  .container
    h2.mt-5.text-center Testimoniales
    include ./layouts/bloque_testimoniales 