extends ./layouts/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus impedit porro optio? Laudantium recusandae omnis hic molestias deleniti mollitia soluta vel consectetur, dolore possimus atque cupiditate tempora distinctio praesentium labore?

        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita placeat, possimus neque nisi dicta, atque minus fuga reiciendis aperiam, odit esse illo nemo sint omnis ex earum. Voluptatem, odit earum.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda reiciendis quod dolores incidunt nostrum soluta dolorum, animi unde amet tenetur cumque perferendis ipsam quasi ut quo repudiandae fuga debitis. Voluptatibus.Quia fugit maiores autem dignissimos rerum quas adipisci ex corporis fuga veritatis commodi omnis dolor doloribus totam amet quaerat aliquid at deleniti vero, quasi nulla ipsam molestias velit magnam? Perferendis.
  
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, perspiciatis!
        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Los Mejores Destinos
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, perspiciatis!
        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Los Mejores Precios
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, perspiciatis!